.text1 {
    text-align: center;
    color: lightgrey;
  }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: right;
        }
        .li2{
            margin-right: 1023px;
        }
        li {
        display: inline;
        text-align: left;
        padding: 5px;
        margin-left:50px;
        border-radius: 5px;
        text-align: center;
        }
        li:hover {
        background-color: black;
        cursor: pointer;
        }
        li:hover a{
        color: gainsboro;
        }
        a {
        text-decoration: none;
        color: orangered;
        }
         body {
                background-image: url("background biru.webp");
                background-color: #cccccc;
                background-size: cover;
               }
               main {
                margin-top: 60px;
               }
               #jumbotron {
                width: 100%;
               }
               .jumbotron {
                padding: 20px;
                text-align: center;
                background-color: rgb(38, 70, 83);
               }
               .header-flex {
                display: flex;
                justify-content: space-around;
                padding: 0;
               }
               .jumbotron-title {
                color: rgb(224, 251, 252);
                font-size: 30px;
                padding-bottom: 20px;
               }
               .jumbotron-text {
                color: rgb(224, 251, 252);
                text-align: left;
                padding-bottom: 20px;
                border-bottom: 8px solid rgb(244, 162, 97);
               }
               /* kamu bisa tambahkan style lainnya */
               .jumbotron-img {
                height: 300px;
               }
.main-content {
    display: flex;
    justify-content: flex-start;
    color: white;
   }
   aside {
    width: 30%;
    border-radius: 10px;
    box-shadow: 0px 0px 40px  red(38, 70, 83);
    text-align: center;
    padding: 10px;
   }
   .fa-user-circle {
    font-size: 40px;
   }
   .content {
    padding: 15px;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 40px  rgb(38, 70, 83);
   }
   .map{
    margin-left: 150px;
   }
   .footer {
    background-color: rgb(38, 70, 83);
   }
   .center-footer {
    margin: 0 20px;
   }
   .main-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
   }
   .info-top {
    text-align: center;
    width: 100%;
    padding-top: 5px;
    border-top: 1px solid white;
    color: rgb(224, 251, 252);
   }
   .info-center {
    text-align: center;
    width: 100%;
    padding-top: 5px;
    border-top: 1px solid white;
    color: rgb(224, 251, 252);
   }
   .social-media {
    display: flex;
    justify-content: center;
   }
   .fa-instagram-square, .fa-twitter-square, .fa-facebook-square, .fa-envelope {
    padding: 5px;
    font-size: 30px;
    color: white;
   }

               
        
        
      