body{
    background-image: url("back.jpg");
    background-color: #cccccc;
    background-size: cover;
} 
ul {
list-style-type: none;
padding: 0;
margin: 0;
display: flex;
justify-content: right;
}
.li2{
margin-right: 1052px;
}
li {
display: inline;
text-align: left;
padding: 5px;
margin-left:50px;
border-radius: 5px;
text-align: center;
}
li:hover {
background-color: wheat;
cursor: pointer;
}
li:hover a{
color: black;
}
a {
text-decoration: none;
color: darkblue;
}
.header{
    background-color: white;
}
main {
    margin-top: 60px;
   }
   #jumbotron {
    width: 100%;
   }
   .jumbotron {
    padding: 20px;
    text-align: center;
   }
   .header-flex {
    display: flex;
    justify-content: space-around;
    padding: 0;
   }
   .jumbotron-title {
    color: rgb(224, 251, 252);
    font-size: 30px;
    padding-bottom: 20px;
   }
   .jumbotron-text {
    color: rgb(0, 0, 0);
    text-align: left;
    padding-bottom: 20px;
    border-bottom: 8px solid rgb(193, 135, 247);
   }
   .jumbotron-img {
    height: 300px;
   }
   .main-content {
    float: left;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    background-color: white;
    color: black;
   }
   aside {
    width: 30%;
    border-radius: 10px;
    box-shadow: 0px 0px 40px  red(38, 70, 83);
    text-align: center;
    padding: 10px;
   }
   .content {
    padding: 15px;
    margin-left: 1px;
    border-radius: 10px;
   }
   .toggle {
    display: flex;
    justify-content: center;
    margin: 10px;
   }
   .article{
    border-radius: 10px;
    background-color: white;
    gap: 10px;
    border-top: 5px solid darkblue;
    border-bottom: 5px solid darkblue;
    max-width: fit-content;
   }
   .main_article{
    background-image: linear-gradient(rgb(94, 84, 70), rgb(0, 0, 0));
    width: 100%
    
     }
     .footer {
        background-image: linear-gradient(white , rgb(187, 187, 255));
      }
      .main_footer {
        display: flex;
        justify-content: center;
        width: 100%;
      }
      .left_footer {
        margin-right: auto;
        margin-left: 40px;
      }
      .right_footer {
        margin-left: auto;
        margin-right: 40px;
      }
      .center_footer {
        margin-left: 20px;
        margin-right: 20px;
      }
      .info_left {
        color: black;
        text-align: left;
        width: 100%;
      }
      .info-right {
        color: black;
        text-align: right;
        width: 100%;
      
      }
      .info_center {
        color: black;
        text-align: center;
        width: 100%;
        padding-top: 5px;
        border-top: 1px solid rgb(146, 168, 133);
      }
      .center_footerup{
        margin-left: 20px;
        margin-right: 20px;
      }
      