table,
tr,
td,
th {
  border: 5px solid blue;
  border-collapse: collapse;
  text-align: center;
  padding: 10px;
  font-family: cu;
  color: white;
}
th {
  background-color: red;
}
tr:hover {
  background-color: gray;
}
.img1 {
  border: 5px solid blue;
  border-radius: 50px;
  box-shadow: 10px 10px;
}
.img2 {
  border: 5px solid gray;
  border-radius: 50px;
  box-shadow: 10px 10px;
}
.img3 {
  border: 5px solid red;
  border-radius: 50px;
  box-shadow: 10px 10px;
}
.img {
  border: 1px solid gray;
  border-radius: 50px;
  box-shadow: 10px 10px;
}
body {
  background-image: url("pxfuel.jpg");
  background-repeat: repeat;
  background-size: contain, cover;
}
.items {
  display: flex;
  justify-content: center;
}

.item {
  margin: 10px;
  background-color: gainsboro;
}
div.gitem:hover {
  background-color: black;
}

.gitem {
  margin: 10px;
  background-color: gray;
}
.text {
  text-align: center;
}
.gtext {
  text-align: center;
  color: gold;
}

.discon {
  text-align: center;
  color: red;
}
.text1 {
  text-align: center;
  color: rgb(red, green, blue);
}
.header {
  background-color: gray;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.footer {
  background-image: linear-gradient(rgb(94, 84, 70), rgb(0, 0, 0));
}
.main_footer {
  display: flex;
  justify-content: center;
  width: 100%;
}
.left_footer {
  margin-right: auto;
  margin-left: 40px;
}
.right_footer {
  margin-left: auto;
  margin-right: 40px;
}
.center_footer {
  margin-left: 20px;
  margin-right: 20px;
}
.info_left {
  color: black;
  text-align: left;
  width: 100%;
}
.info-right {
  color: black;
  text-align: right;
  width: 100%;

}
.info_center {
  color: black;
  text-align: center;
  width: 100%;
  padding-top: 5px;
  border-top: 1px solid rgb(146, 168, 133);
}
nav {
  width: 200px;
  margin: 0;
  padding: 0;
}
a {
  display: block;
  background-color: gray;
  text-decoration: none;
  color: whitesmoke;
  padding: 4px;
}
a:hover {
  background-color: burlywood;
}
.sections {
  background-color: gray;
  width: 100%;
  text-align: center;
}
h4 {
  text-decoration: line-through;
}
.about {
  background-color: gray;
  width: auto;
  height: auto;
  font-size: 25px;
  display: flex;
}
.aboutimg {
  border: 10px solid darkslategray;
  border-radius: 30px;
}
button {
  background-color: white;
  border-radius: 8px;
  color: black;
  padding: 8px;
  border: none;
  font-size: 20pt;
  margin-left: 150px;
}
button:hover {
  transform: scale(1.2, 1.2);
  background-color: red;
}
.button2 {
  background-color: white;
  border-radius: 8px;
  color: black;
  padding: 8px;
  border: none;
  font-size: 20pt;
  margin-left: 150px;
}
.button2:hover {
  transform: scale(1.2, 1.2);
  background-color: gold;
}
.flex {
  display: flex;
}
.button3 {
  background-color: white;
  border-radius: 8px;
  color: black;
  padding: 8px;
  border: none;
  font-size: 20pt;
  margin-left: 150px;
  margin-top: 150px;
}
.button3:hover {
  transform: scale(2.5, 2.5);
  background-color: green;
}
.colum {
  display: flex;
  flex-direction: column;
}
.button4 {
  background-color: white;
  border-radius: 8px;
  color: black;
  padding: 8px;
  border: none;
  font-size: 20pt;
  margin-left: 150px;
  margin-top: 300px;
}
.button4:hover {
  transform: scale(2.5, 2.5);
  background-color: green;
}
.button5 {
  background-color: white;
  border-radius: 8px;
  color: black;
  padding: 8px;
  border: none;
  font-size: 20pt;
  margin-left: 150px;
  margin-top: 300px;
}
.button5:hover {
  transform: scale(2.5, 2.5);
  background-color: green;
}
